/* * {
  background-color: #0D1F2D;
  color: #FAE1DF;

} */

/* .bg-myBlue {
  background-color:  #0D1F2D;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #0D1F2D !important;
  color: #FAE1DF !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

/* Needed for Name logo?? */
nav.navbar a.navbar-brand {
  width: 9%;
}

a.navbar-brand {
  color:#FAE1DF !important;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #FAE1DF !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

/* icon styling */




/* .content {
  margin-top: 60px;
  padding: 20px;
  height: 3000px;
} */

/* .main-footer {
  background-color:  #0D1F2D;
  color: #fff;
  /* height: 60px; */
  

