/* * {
  background-color: #0D1F2D;
  color: #FAE1DF;

} */

.bg-myBlue {
  background-color:  #0D1F2D;
}

.content {
  margin-top: 60px;
  padding: 20px;
  height: 3000px;
}

.main-footer {
  background-color:  #0D1F2D;
  color: #fff;
  height: 60px;
  
}

.footer-name {
  margin-top: 20px;
}

.footer-icons {
  margin-left: 200px;
  margin-top: 20px;
}