* {
  background-color: #0D1F2D;
  color: #FAE1DF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #0D1F2D;
  color: #FAE1DF;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* ***** Header/ NavBar ***** */
nav.navbar {
  padding: 18px 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;

}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #FAE1DF !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
}


nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  opacity: 0.75;
}


/* *****Banner styling***** */
.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(236, 136, 196, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  border: 1px solid #B8B8B8;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
border-right: 0.08em solid #666;
}


/* ****icon styling***** */
.icon {
  color: #FAE1DF;
  letter-spacing: 20px;
  font-size: 1.5rem;
}

.icon:hover {
  color: #FFF;
  transform: scale(1.1); 
}

section {
  margin: 0;
  padding: 50px;
}

.title {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(236, 136, 196, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 48px;
  margin-bottom: 40px;
  margin-top: 90px;
  display: inline-block;
  text-align: center;
}

/* ***** About Me***** */
#about{
  height: 800px;
}



.about-container p {
  font-size: 1.3rem;
  padding: 30px;
}

.about-me a{
  text-decoration: none;
}

.about-text {
  font-size: 2.0rem;
}

/* **** Contact Section **** */
#contact {
  height: 800px;
}

#contact-form {
  width: 75%;
}

/* Resume section */
#resume {
  height: 800px;
}
.card-box {
  width: 350px;
  background-color: #FAE1DF;
  margin-top: 30px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.card-box:hover {
  transform: scale(1.1); 

}

.card-header {
  color:#0D1F2D;
  text-align: center;
  font-size: 1.5rem;
}

.card-body {
  padding: 30px;
}

.card-body, .card-body ul, .card-body li {
  background-color: #fff;
  color: #0D1F2D;
  font-size: 1.2rem;
}

.resume-section {
  margin-bottom: 30px;
}

.resume-btn {
  width: 20%;
}

  /*  Footer */
.main-footer {
  background-color:  #0D1F2D;
  color: #fff;
}


.project {
  padding: 80px 0px;
  position: relative;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin: 30px 0;
}

.proj-imgbx {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 24px;
  }

.proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #FAE1DF -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }

.proj-imgbx:hover::before {
    height: 100%;
  }

.proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }

.proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

.proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }